*{
    box-sizing: border-box;
    margin: 0;
    position: relative;
    text-transform: capitalize;
    font-family: 'Bai Jamjuree', sans-serif;
}
header .logo{
    background-image: url("images/bg-header-desktop.png");
    background-position: center top;
    display: flex;
    justify-content: center;
    padding:  60px 20px 20px;
    box-shadow: 00px 20px 20px 3px #eeeeee70;
}
.text{
    margin: 50px 12.5%;
    text-align: center;
}
.text h1#p1{
    color: #686868;
    font-size: 30px;
    font-weight: 600;
}
.text p,#p2{
    padding:20px 40px;
    color: #686868bb;
    font-size: 13px;
}
 button{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 16px;
    color: white;
    margin: 20px;
    font-size: 18px;
}
header button:last-child,.main button:last-of-type{
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 2px 10px hsl(233, 100%, 69%);
}
header button:first-of-type ,.main button:first-of-type{
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 2px 10px hsl(171, 66%, 44%);
}
.flex{
    display: flex;
    align-items: center;
    gap: 0px 20px;
}
#screen{
    width: 500px;
    height: 400px;
    left: -20px;
}
#p1,#p2{
    padding: 6px 3px 6px 20px;
    width: 300px;
}
.screen{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#devices{
    width: 600px;
    height: 400px;
}
.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    margin: 100px auto;
}
.flex1 .text,  .flex1 p{
    margin: 0;
    width: 250px;
    padding: 3px;
}
.flex1 h1{
    font-size: 18px;
}
#compn{
    width: 120px;
    height: 60px;
    margin: 0px 20px;
}
footer{
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer .div{
    padding: 30px;
    display: flex;
    gap: 10px 50px;
}
footer div img{
    width: 50px;
    height: 50px;
}
.social {
    display: flex;
    gap: 0px 15px;
}
i{
    font-size: 18px;
}
 footer p:hover{
    color:hsl(171, 66%, 44%) ;
}
@media (max-width:767px){
    .flex,.flex1,footer,footer .div{
        display: grid;
        gap: 50px 0px;
        justify-content: center;
    }
    header{
        margin-bottom: 30px;
    }
    #screen,#devices{
        width: 350px;
        height: 350px;
        left: 0;
    }
    .social{
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .text{
        margin: auto;
        padding: 10px;
    }
    footer{
        margin-top: 100px;
    }
}